//VARIABLES

//background color
$primary-color: #f0f0f0;

//text color
$text-color: #303030;

//title font
$font-title: "Yatra One", system-ui;

//general text
$font-franklin: "Libre Franklin", sans-serif;

//h2,h3,h4
$font-literata: "Literata", serif;

//italics
$font-garamond: "Cormorant Garamond", serif;

//mobile border  
$mobile-border: 1px solid #ccc;

//desktop border 
$desktop-border: 1px solid #7b7b7b;





body {
    background-color: $primary-color;
    color: $text-color;
    padding: .5rem;
}

header {
    font-family: $font-franklin;
    text-decoration: underline;
    font-size: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 20;
    position: fixed;
    border-bottom: $mobile-border; 
   

    h1, h2 {
        font-size: inherit;
        font-weight: inherit;
        cursor: pointer;
        margin: 0;
        padding: 0.5rem;
        text-align: center;
        width: 50vw;
    }   

    h1 {
        border-right: $mobile-border;
    }
}

nav {
    font-family: $font-franklin;
    font-size: 0.5rem;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    

    .dropdown {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        text-align: center;
        list-style: none;
        z-index: 10;
        padding-inline-start: 0;

        li {
            text-decoration: underline;
            padding: .5rem;
        }
    
        li:not(:last-child) {
            border-bottom: $mobile-border; 
        }

        input {
            font-family: $font-garamond;
            font-style: italic;
            background-color: $primary-color;
            border: none;
            text-align: center;
            } 
    }

}

@media screen and (min-width: 800px) {

    header {
        text-decoration: none;
        display: flex;
        justify-content: center;
        position: relative;
        border-bottom: none;
        border-top: $desktop-border;

        h1 {
            font-family: $font-title;
            border-right: none;
            font-size: 48px;
        }
    
        h2 {
            display: none;
          }
    }

    nav {
       
        .dropdown {
            display: flex !important;
            flex-direction: row;
            justify-content: space-evenly;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            border-bottom: $desktop-border;

            li {
                width: 16.7vw;
                border: $desktop-border;
                padding: 1rem;
                font-size: .8rem;
                height: 1rem;
                margin: 0;
                text-decoration: none;
            }

            li:not(:last-child) {
                border-bottom: none; 
            } 
    
            .bag,
            .access {
                display: none;
            }
    
            .diary {
                border-left: none;
            }

            .search {
                border-right: none;
                border-bottom: none;
            }
    
        }
        
    }

}