//VARIABLES

//background color
$primary-color: #f0f0f0;

//text color
$text-color: #303030;

//title font
$font-title: "Yatra One", system-ui;

//general text
$font-franklin: "Libre Franklin", sans-serif;

//h2,h3,h4
$font-literata: "Literata", serif;

//italics
$font-garamond: "Cormorant Garamond", serif;

//mobile border  
$mobile-border: 1px solid #ccc;

//desktop border 
$desktop-border: 1px solid #7b7b7b;





body {
    background-color: $primary-color;
    color: $text-color;
    padding: .5rem;

    .featured-projects {
        display: none;
    }

    header {
        background-color: $primary-color;
        font-family: $font-franklin;
        text-decoration: underline;
        font-size: 0.5rem;
        font-weight: normal;
        text-transform: uppercase;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 20;
        position: fixed;
        border-bottom: $mobile-border;

       
    
        h1, h2 {
            font-size: inherit;
            font-weight: inherit;
            cursor: pointer;
            margin: 0;
            padding: 0.5rem;
            text-align: center;
            width: 50vw;
        }   

        .desktop-title-detail {
            display: none;
        }
    
        h1 {
            border-right: $mobile-border;
        }
    }
    
    nav {
        font-family: $font-franklin;
        font-size: 0.5rem;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        
    
        .dropdown {
            background-color: $primary-color;
            display: none;
            position: fixed;
            left: 0;
            right: 0;
            text-align: center;
            list-style: none;
            z-index: 10;
            padding-inline-start: 0;
    
            li {
                text-decoration: underline;
                padding: .5rem;
            }
        
            li:not(:last-child) {
                border-bottom: $mobile-border; 
            }
    
            input {
                font-family: $font-garamond;
                font-style: italic;
                background-color: $primary-color;
                border: none;
                text-align: center;
                } 
        }
    
    }

}



@media screen and (min-width: 800px) {

    body {
        margin: 0;
        padding: 0;

        .featured-projects {
            display: flex;
            flex-direction: row;
            text-transform: uppercase;
            position: relative;
            border-bottom: $desktop-border;

            h2 {
                position: fixed;
                padding: .5rem;
                font-size: 0.5rem;
                font-weight: inherit;
                background-color: $primary-color;
                border-bottom: $desktop-border;
                border-right: $desktop-border;
                z-index: 15;
            }

            .gallery::-webkit-scrollbar {
                display: none;
            }

            .gallery {
                display: flex;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scrollbar-width: none;
                position: relative;
                


            .feature-article {
                display: flex;
                flex: 0 0 300px;
                transition: transform 3s ease-in-out;
               
                

                img{
                    width: 150px;
                    height: 100px;
                    margin: .5rem;
                }

                .feature-text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border-right: $desktop-border;
                    padding-right: 1rem;

                    h3 {
                        font-weight: inherit;
                        font-family: $font-literata;
                        margin: 0;
                    }

                    ul {
                        list-style: none;
                        display: flex;
                        font-size: .5rem;
                        padding: 0;
                        

                        li {
                            border-right: $desktop-border;
                            padding: 0 .4rem;
                            
                        }
                    }
                    }
                }
            }
        }


        header {
            text-decoration: none;
            display: flex;
            justify-content: center;
            position: sticky;
            border-bottom: none;

           
            h1 {
                font-family: $font-title;
                border-right: none;
                font-size: 48px;
            }

            
            h2 {
                display: none;
            }

        }

        header.moved {
            width: 50vw;
            left: 0;
            position: fixed;
            border: $desktop-border;

            h1{
                font-family: $font-franklin;
                font-size: .8rem;
                padding: 1rem;
            }

            .desktop-title-detail {
                display: inline;
                font-family: $font-garamond; 
                text-transform: capitalize;
                font-style: italic;
            }
            
        }

        nav {
            position: sticky; 
            top: 70px;
            left: 0; 
            right: 0; 
            z-index: 1000;
        
            .dropdown {
                display: flex !important;
                flex-direction: row;
                justify-content: space-evenly;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                border-bottom: $desktop-border;

                li {
                    width: 16.7vw;
                    border: $desktop-border;
                    padding: 1rem;
                    font-size: .8rem;
                    height: 1rem;
                    margin: 0;
                    text-decoration: none;
                }
        
                .bag {
                    display: none;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 25vw;
                    background-color: $primary-color;
                    padding: .98rem 0;
                    
                }

                .access {
                    display: none;
                    position: fixed;
                    top: 0;
                    right: 25vw;
                    width: 25vw;
                    background-color: $primary-color;
                    padding: .98rem 0;
                }

                // to reveal bag and access
                .revealed {
                    display: block;
                }
        
                .diary {
                    border-left: none;
                }

                .search {
                    border-right: none;
                    border-bottom: none;
                }
        
            }
            
        }

        nav.scrolled {
            top: 40px;
        }

    }

}